In [6]:
%pip install pandas

Collecting pandas
  Downloading pandas-2.3.2-cp310-cp310-win_amd64.whl (11.3 MB)
     ---------------------------------------- 11.3/11.3 MB 9.2 MB/s eta 0:00:00
Collecting pytz>=2020.1
  Downloading pytz-2025.2-py2.py3-none-any.whl (509 kB)
     ------------------------------------- 509.2/509.2 KB 10.6 MB/s eta 0:00:00
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\gabriel\appdata\roaming\python\python310\site-packages (from pandas) (2.9.0.post0)
Collecting tzdata>=2022.7
  Downloading tzdata-2025.2-py2.py3-none-any.whl (347 kB)
     ------------------------------------- 347.8/347.8 KB 10.9 MB/s eta 0:00:00
Collecting numpy>=1.22.4
  Downloading numpy-2.2.6-cp310-cp310-win_amd64.whl (12.9 MB)
     ---------------------------------------- 12.9/12.9 MB 9.9 MB/s eta 0:00:00
Requirement already satisfied: six>=1.5 in c:\users\gabriel\appdata\roaming\python\python310\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Installing collected packages: pytz, tzdata, numpy, pandas
Successfully installed numpy-2.2.6 pandas-2.3.2 pytz-2025.2 tzdata-2025.2
Note: you may need to restart the kernel to use updated packages.

WARNING: You are using pip version 22.0.4; however, version 25.2 is available.
You should consider upgrading via the 'c:\Users\Gabriel\AppData\Local\Programs\Python\Python310\python.exe -m pip install --upgrade pip' command.

In [10]:
import pandas as pd

df = pd.read_csv(r'C:\Users\Gabriel\Desktop\ufc\MÊS DA SAÚDE MENTAL (respostas) - Respostas ao formulário 1.csv')

In [11]:
df.head()

,Carimbo de data/hora,Nome1:,E-mail1:,Matrícula (Se houver)1:,Curso1,Nome2:,E-mail2:,Matrícula (se houver)2:,Curso2:,Nome3:,...,Nome5:,E-mail5:,Matrícula (se houver)5:,Curso5:,Você conhece o CVV (Centro de Valorização a Vida) um serviço voluntário gratuito de apoio emocional e prevenção do suicídio? Ele pode ser acessado via discagem 188.,Coluna 1,Coluna 2,Coluna 3,Coluna 4,Coluna 5
0,11/09/2025 14:49:43,NaN,NaN,NaN,NaN,NaN,NaN,510656,Ciência da Computação,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,11/09/2025 14:56:50,NaN,NaN,NaN,NaN,NaN,NaN,411631,Engenharia de Software,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,11/09/2025 15:57:08,NaN,NaN,NaN,NaN,NaN,NaN,582095,Engenharia de produção,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,11/09/2025 16:35:05,NaN,NaN,NaN,NaN,NaN,NaN,555421,Engenharia de Software,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,11/09/2025 19:19:41,NaN,NaN,NaN,NaN,NaN,NaN,541786,Engenharia de Software,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [12]:
# DataFrames para cada E-mailx (x de 1 a 5)
email_dfs = {}
for i in range(1, 6):
    col = f'E-mail{i}:'
    email_dfs[f'palestra_{i}'] = df[[col]].copy()

# DataFrame apenas com a informação do CVV
cvv_df = df[['Você conhece o CVV (Centro de Valorização a Vida)  um serviço voluntário gratuito de apoio emocional e prevenção do suicídio? Ele pode ser acessado via discagem 188.']].copy()

In [17]:
email_dfs.keys()

dict_keys(['palestra_1', 'palestra_2', 'palestra_3', 'palestra_4', 'palestra_5'])

In [27]:
email_dfs['palestra_2']

                                E-mail2:
0                                    NaN
1                                    NaN
2                                    NaN
3                                    NaN
4                                    NaN
5                                    NaN
6                                    NaN
7                  hakbrarthur@gmail.com
8                    isaclima@alu.ufc.br
9            rodrigomarreira13@gmail.com
10            FernandoVieiraxy@gmail.com
11           guilhermegomes77@alu.ufc.br
12               yunafreitas25@gmail.com
13  evertonfernandesdealmeida@alu.ufc.br
14                                   NaN
15                     wtfraga@gmail.com
16                                   NaN
17                                   NaN
18             Britojailson719@gmail.com
19          jlucasmirandsousa@alu.ufc.br
20             davipergentino@alu.ufc.br
21            mateusobarboza07@gmail.com
22                                   NaN
23      iorrana.araujo.brandao@gmail.com
24                adriansousa@alu.ufc.br
25   joaoflaviopedrosodocarmo2@gmail.com
26              Kevinmendes765@gmail.com
27           Jardsonalefaraujo@gmail.com
28             kaikycaldasledo@gmail.com
29             kawbeatrizsilva@gmail.com

In [37]:
email_dfs['palestra_2']  # Exemplo de remoção de NaN para palestra_2

                                E-mail2:
0                                    NaN
1                                    NaN
2                                    NaN
3                                    NaN
4                                    NaN
5                                    NaN
6                                    NaN
7                  hakbrarthur@gmail.com
8                    isaclima@alu.ufc.br
9            rodrigomarreira13@gmail.com
10            FernandoVieiraxy@gmail.com
11           guilhermegomes77@alu.ufc.br
12               yunafreitas25@gmail.com
13  evertonfernandesdealmeida@alu.ufc.br
14                                   NaN
15                     wtfraga@gmail.com
16                                   NaN
17                                   NaN
18             Britojailson719@gmail.com
19          jlucasmirandsousa@alu.ufc.br
20             davipergentino@alu.ufc.br
21            mateusobarboza07@gmail.com
22                                   NaN
23      iorrana.araujo.brandao@gmail.com
24                adriansousa@alu.ufc.br
25   joaoflaviopedrosodocarmo2@gmail.com
26              Kevinmendes765@gmail.com
27           Jardsonalefaraujo@gmail.com
28             kaikycaldasledo@gmail.com
29             kawbeatrizsilva@gmail.com

In [38]:
email_dfs['palestra_4']

                                E-mail4:
7                  hakbrarthur@gmail.com
8                    isaclima@alu.ufc.br
9            rodrigomarreira13@gmail.com
12               yunafreitas25@gmail.com
13  evertonfernandesdealmeida@alu.ufc.br
15                     wtfraga@gmail.com
25   joaoflaviopedrosodocarmo2@gmail.com
26              Kevinmendes765@gmail.com
27           Jardsonalefaraujo@gmail.com
28             kaikycaldasledo@gmail.com
29             kawbeatrizsilva@gmail.com

In [44]:
email_dfs['palestra_1'].dropna(inplace=True)

In [51]:
palestra_1 = email_dfs['palestra_1']
palestra_2 = email_dfs['palestra_2']
palestra_3 = email_dfs['palestra_3']
palestra_4 = email_dfs['palestra_4']
palestra_5 = email_dfs['palestra_5']

In [52]:
palestras_info = pd.DataFrame([
    {
        "Título": "Quando a alma grita",
        "Palestrante": "Abraão Maia",
        "Data": "18/09",
        "Horário": "15h30",
        "Local": "Auditório 2"
    },
    {
        "Título": "É possível beber saudável? conversando sobre o uso de álcool e outras substâncias.",
        "Palestrante": "Michelle Guerra",
        "Data": "23/09",
        "Horário": "15h30",
        "Local": "Sala 1, unidade 1"
    },
    {
        "Título": "Uma crítica a campanha como data no calendário: Promoção da saúde mental para além do setembro amarelo.",
        "Palestrante": "Iara Fernandes",
        "Data": "24/09",
        "Horário": "15h30",
        "Local": "Sala 1, unidade 1"
    },
    {
        "Título": "Saúde mental e lesbofobia: impactos, estigmas e possibilidades de cuidados.",
        "Palestrante": "Bianca Priore",
        "Data": "25/09",
        "Horário": "16h",
        "Local": "Sala de Vídeo Conferência"
    },
    {
        "Título": "A importância das competências socioemocionais",
        "Palestrante": "Rosa Maria",
        "Data": "29/09",
        "Horário": "13h30",
        "Local": "Sala 1, unidade 1"
    }
])